.App h1{
  /* Al apuntar al div->className->App->h1, se le pueden dar instrucciones de estilo... */
  text-align: center;
}

.container{
  display: flex;
  gap: 10px;
  /*flex-wrap lo que hace es que si un elemento supera el tamaño del que dispone para ser desplegado, se moverá a otra linea*/
  flex-wrap: wrap;
  justify-content: center;
}
